/* FONTS */

@font-face {
  font-family: 'Knockout-H30';
  src:  url('../fonts/Knockout/Knockout-HTF30-JuniorWelterwt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Knockout/Knockout-HTF30-JuniorWelterwt.otf')  format('opentype'),
        url('../fonts/Knockout/Knockout-HTF30-JuniorWelterwt.woff') format('woff'),
        url('../fonts/Knockout/Knockout-HTF30-JuniorWelterwt.ttf')  format('truetype'),
        url('../fonts/Knockout/Knockout-HTF30-JuniorWelterwt.svg#Knockout-HTF30-JuniorWelterwt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-H48';
  src:  url('../fonts/Knockout/Knockout-HTF48-Featherweight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Knockout/Knockout-HTF48-Featherweight.otf')  format('opentype'),
        url('../fonts/Knockout/Knockout-HTF48-Featherweight.woff') format('woff'),
        url('../fonts/Knockout/Knockout-HTF48-Featherweight.ttf')  format('truetype'),
        url('../fonts/Knockout/Knockout-HTF48-Featherweight.svg#Knockout-HTF48-Featherweight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-H72';
  src:  url('../fonts/Knockout/Knockout-HTF72-FullCruiserwt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Knockout/Knockout-HTF72-FullCruiserwt.otf')  format('opentype'),
        url('../fonts/Knockout/Knockout-HTF72-FullCruiserwt.woff') format('woff'),
        url('../fonts/Knockout/Knockout-HTF72-FullCruiserwt.ttf')  format('truetype'),
        url('../fonts/Knockout/Knockout-HTF72-FullCruiserwt.svg#Knockout-HTF72-FullCruiserwt') format('svg');
  font-weight: normal;
  font-style: normal;
}