/* ACCORDION */

.accordion {
    width: 100%;
    height: auto;
    &__box {
        width: 100%;
        max-height: 50px;
        border-bottom: 1px solid $white;
        @include transition;
        overflow: hidden;
        &:last-of-type {
            border-bottom: 0;
        }
        &.active {
            .accordion__top {
                &::after {
                    height: 0;
                }
            }
        }
    }
    &__top {
        @include flex(flex-start);
        width: 100%;
        min-height: 50px;
        padding: 10px 42px 10px 10px;
        background: rgba(green,.5);
        position: relative;
        cursor: pointer;
        &::before, &::after {
            display: block;
            content: "";
            width: 2px;
            height: 13px;
            background: $white;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            @include transition;
            transform: rotate(90deg);
        }
        &::after {
            transform: rotate(0);
        }
        &__title {
            color: $white;
        }
    }
    &__bottom {
        width: 100%;
        height: auto;
        padding: 20px 10px;
        background: rgba(green,.2);
    }
}