/* DEMO */

.demo {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    &__box {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background: papayawhip;
    }
    &__title {
        margin-bottom: 10px;
        font-size: toRem(22);
        font-weight: bold;
    }
    &__desc {
        margin-bottom: 10px;
        font-size: toRem(16);
    }
    &__iframe {
        max-height: 300px;
        margin-left: -10px;
        transform: scale(1) !important;
    }
    &__list {
        padding-left: 20px;
        margin-bottom: 10px;
        list-style-type: disc;
        &__item {
            margin-bottom: 5px;
            font-size: toRem(16);
        }
    }
}

:root {
    --demo-bg-1: red;
    --demo-bg-2: purple;
    --demo-bg-3: green;
}

.demoBox {
    @include flex;
    &__square {
        width: 80px;
        height: 80px;
        margin: 5px;
        animation: bg 5s ease infinite;
        @include transition;
        &--orange {
            --demo-bg-2: orange;
        }
        &--black {
            --demo-bg-2: black;
        }
        &--blue {
            --demo-bg-1: blue;
        }
    }
}